.pagination {
    font-family: "Montserrat", Arial, sans-serif; ;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 35px;     
    display: flex;    
    align-items: center;
    font-size: 14px;
    line-height: 19px;    
    outline: none;
    &__nav {
        margin: 0 auto;
    }
    &__list {        
        display: flex;        
        align-items: center;
    }
    &__item {
        margin-right: 35px;
        list-style-type: none;
        margin-left: 29px; 
        &:hover {
            fill:#AAAAAA;
            cursor: pointer;
            transition: .4s;
        }
    }
    &__item_active {
        fill: #C29974;
        transition: .4s;
    }
}