
@mixin button($size:16px, $line-height:22px, $background:#FFFFFF) {
    background: $background;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 123px;
    width: 100%;
    text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
    transition: .4s;
    cursor: pointer;
    &:hover {
        background: #C29974;
        outline:none;
    }
    &:focus {
        background: #C29974;
        outline:none;
        transition: .4s;
    } 
    &:active {
        background: #CFAF91;
        outline:none;
        transition: .4s;
    }
    &:disabled {
        background: #C1C1C1;
        outline:none;
        transition: .4s;
    }       
}

.button {
    @include button();
  }