$transition-duration: .4s;

// не работает
.main-page .header {
  margin-bottom: 125px;  
  @media screen and (max-width: 1024px) {
    margin-bottom: 0;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }  
}

/* slider */

.slider-box {
  position: relative;
  background: #EEE4DB;
  margin-bottom: 97px;
  @media screen and (max-width: 767px) {
   padding: 0;     
  }  
}

.slider-content {  
  display: flex;
}

.toggle {
  display: flex;   
  flex-direction: column;
  max-width: 30px;
  margin-top: 25px;
  margin-left: -8px;
  cursor: pointer;  
  &__number {
    margin-left: 38px;
    margin-top: 8px;
    margin-bottom: 0;
  }
  &__list {
    list-style-type: none;  
    margin-top: 7px;  
  }  
  &__item {
    margin-bottom: -8px;
    transition: $transition-duration;    
    &:hover svg rect {
      fill:#715F5B;           
    }
  }
}

.slider {
  margin-top: 60px;
  margin-left: 120px;
  &__title {
    margin-top: 34px;
    margin-bottom: -3px;
    margin-left: -10px;
    @media screen and (max-width: 767px)  {
      font-size: 36px;
      line-height: 110%;
    }   
  }  
  &__item {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-left: -8px;   
  }  
  &__btn {
    max-width: 161px;
    margin-left: -10px;
    @media screen and (max-width: 767px) {
      max-width: 142px;
      width: 100%;        
      font-size: 14px;
      line-height: 19px;
    }    
  }  
  &__img {
    width: 635px;
    margin-top: -89px;
    margin-bottom: 0;
    margin-right: 99px;    
  }  
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    background: #C29974;
    color: #FFFFFF;
    padding: 11px;    
    margin: 0;
  }
}

// slider media

@media screen and (max-width: 1024px) {
  .slider-content {  
    width: 648px;
    height: 411px;
  }
}

// Исправить
@media screen and (max-width: 1024px) {  
  .slider {
    margin-top: 30px;
    margin-left: 20px;     
  &__img {  
      position: absolute;
      display: block;  
      width: 385px;
      height: 286px;
      left: 179px;
      bottom: 37px;
    }      
  &__info {     
      width:100%;
      padding: 11px 20px;            
    } 
  }
}

// Исправить
@media screen and (max-width: 767px) {
  .toggle {    
    position: absolute;
    top: 15px;
    right: 100px;
    }        
}

@media screen and (max-width: 767px) {
  .slider-content {  
    width: 375px;
    height: 448px;
  }
}

@media screen and (max-width: 767px) {  
  .slider {
    margin-top: 30px;
    margin-left: 20px;     
  &__img {  
      position: absolute;
      display: block;  
      width: 292px;
      height: 226px;
      left: 92px;
      bottom: 54px;
    }      
  &__info {     
      width:100%;
      padding: 11px 20px;            
    } 
  }
}

// Products

.products {
  margin-bottom: 92px;
}

.products-info {  
  display: flex;  
  max-width: 680px; 
&__btn {
  border: none;
  width: 27px;
  background: none;
  margin-right: 23px;
  margin-left: -7px;
  outline: none;  
  &:hover {
    opacity: .7;    
  }  
  &:active {
    opacity: .5;    
  }  
  &:focus {
    opacity: .3;    
  }
}
&__item {
  margin-left: 16px;
  margin-top: 14px;
  }
}

/* delivery */

.delivery {  
  display: flex;  
  justify-content: space-between;    
  margin-bottom: 93px;
  flex-wrap: wrap;
  &__img {
    background-color:#C9DFEC;
    margin-top: -19px; 
    width: 480px; 
    height: 559px;  
    @media screen and (max-width: 767px) {
      order: 1;
      margin-bottom: 40px;
      width: 335px;
      height: 357px;
    }
  }  
  &__info {  
    display: flex;   
    flex-direction: column;    
    max-width: 540px;    
    margin-top: 9px;
    margin-left: 10px;
    margin-bottom: 57px;
    @media screen and (max-width: 767px) {
      order: 2; 
      padding-left: 30px;     
    }
  }   
  &__title {
    margin: 3px 0px 21px -40px;
    @media screen and (max-width: 1024px) {
      font-size: 36x;
      line-height: 44px;     
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;     
    }    
  }   
  &__tabs {
    display: flex;   
    flex-direction: column;   
    margin-left: -40px;        
  }  
  &__item {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 32px;  
    margin: 0;  
    height: 55px;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 30px;     
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 30px;     
    }
    
    &:hover:not(.checked) {
      opacity: .5;
      transition: $transition-duration;       
    }            
  }
  &__item_checked {
    position: relative;
    font-weight: bold;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      left: -60px;
      top: -13px;
      background: rgba(112, 187, 220, 0.2);    
      width: 326px;
      height: 55px;
    }
    &__content-one {
      margin-top: 6px;
      margin-right: 100px;      
    }    
    &__content-two {
      margin-top: 2px;
      margin-right: 100px;          
    }    
    &__btn {
      max-width: 149px;
      margin-top: 12px;
      margin-left: -40px;
      @media screen and (max-width: 767px) {
        max-width: 132px;
        width: 100%;        
        font-size: 14px;
        line-height: 19px;
      }       
    }
  }
}

/* About */

.about { 
  display: flex;    
  margin-bottom: 143px;
  flex-wrap: wrap; 
  @media screen and (max-width: 1024px) {
    margin-bottom: 125px;  } 
  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 0;
  }     
  &__content {
    max-width: 543px;
    background: #E1F0F7;    
    padding: 10px 30px 35px;
    margin-right: 57px;
    @media screen and (max-width: 1024px) {
      max-width: 314px;    
    }
    @media screen and (max-width: 767px) {
      order: 1;
      width: 100%;      
      margin-bottom: 50px; 
      margin-right: 0;     
    }
  }  
  &__title {
    margin-top: -36px;
    margin-bottom: -12px;
    @media screen and (max-width: 1024px) {
      font-size: 30px;
      line-height: 37px;
      margin-top: -26px;
    }  
    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-top: -26px;
    }    
  }  
  &__subtitle {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: -7px;
    @media screen and (max-width: 1024px) {
      font-size: 26px;
      line-height: 32px;
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 30px;
    }    
  }  
  &__item {
    margin-bottom: 10px;         
  }  
  &__btn {
    margin-bottom: 3px;
    margin-top: 22px;
    text-decoration: none;
    @media screen and (max-width: 767px) {
      max-width: 109px;
      width: 100%;        
      font-size: 14px;
      line-height: 19px;
    } 
  }  
}   

.contacts  {
  position: relative;
  display: block;
  max-width: 543px;
  background: #E1F0F7;
  @media screen and (max-width: 1024px) {
    max-width: 314px;    
  }
  @media screen and (max-width: 767px) {
    order: 2; 
    width: 100%;                
  } 
  &__content  {  
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }  
  &__title {
    margin-top: -26px;
    margin-left: -3px;
    margin-bottom: 22px;
    @media screen and (max-width: 1024px) {
      font-size: 30px;
      line-height: 37px;
      margin-top: -26px;
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-top: -15px;
    } 
  }  
  &__item {
    margin-bottom: 20px;  
    @media screen and (max-width: 1024px) {
      margin-bottom: 24px; 
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 23px;  
  } 
} 
  &__map {
    position: absolute;
    display: block;
    background-position: center bottom;
    width: 90%;
    height: 196px;
    border: none; 
    overflow: hidden; 
  }    
}





