$transition-duration: .4s;

.main-page .header {
  margin-bottom: 125px;
}

/* slider */

.slider-box {
  background-image: url("images/slider1.jpg");
  background: #EEE4DB;
  margin-bottom: 97px;
}

.slider-content {  
  display: flex;
}

.toggle {
  display: flex;   
  flex-direction: column;
  max-width: 30px;
  margin-top: 25px;
  margin-left: -8px;
  cursor: pointer;  
  &__number {
    margin-left: 38px;
    margin-top: 8px;
    margin-bottom: 0;
  }
  &__list {
    list-style-type: none;  
    margin-top: 7px;  
  }  
  &__item {
    margin-bottom: -8px;
    transition: $transition-duration;    
    &:hover svg rect {
      fill:#715F5B;           
    }
  }
}

.slider {
  margin-top: 60px;
  margin-left: 120px;
  &__title {
    margin-top: 34px;
    margin-bottom: -3px;
    margin-left: -10px;
  }  
  &__item {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-left: -8px;   
  }  
  &__btn {
    max-width: 161px;
    margin-left: -10px;
  }  
  &__img {
    width: 635px;
    margin-top: -89px;
    margin-bottom: 0;
    margin-right: 99px;
  }  
  &__info {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    background: #C29974;
    color: #FFFFFF;     
    display: flex;    
    justify-content: center;
    padding: 11px;    
    margin: 0;
  }
}

// Products

.products {
  margin-bottom: 92px;
}

/* delivery */

.delivery {  
  display: flex;  
  justify-content: space-between;    
  margin-bottom: 93px;
  &__img {
    background-color:#C9DFEC;
    margin-top: -19px;
  }  
  &__info {  
    display: flex;   
    flex-direction: column;    
    max-width: 540px;
    margin-top: 9px;
    margin-left: 10px;
    margin-bottom: 57px;
  }   
  &__title {
    margin: 3px 0px 21px -40px;
  }   
  &__tabs {
    display: flex;   
    flex-direction: column;   
    margin-left: -40px;        
  }  
  &__item {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 32px;  
    margin: 0;  
    height: 55px;
    cursor: pointer;
    &:hover:not(.checked) {
      opacity: .5;
      transition: $transition-duration;       
    }            
  }
  &__item_checked {
    position: relative;
    font-weight: bold;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      left: -60px;
      top: -13px;
      background: rgba(112, 187, 220, 0.2);    
      width: 326px;
      height: 55px;
    }
    &__content-one {
      margin-top: 6px;
      margin-right: 100px;
    }    
    &__content-two {
      margin-top: 2px;
      margin-right: 100px;
    }    
    &__btn {
      max-width: 149px;
      margin-top: 12px;
      margin-left: -40px;      
    }
  }
}

/* Brands */

.brands {
  margin-bottom: 108px;     
}

/* About */

.about { 
  display: flex;    
  margin-bottom: 143px;
  &__content {
    max-width: 543px;
    background: #E1F0F7;    
    padding: 10px 30px 35px;
    margin-right: 57px;
  }  
  &__title {
    margin-top: -36px;
    margin-bottom: -12px;
  }  
  &__subtitle {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: -7px;
  }  
  &__item {
    margin-bottom: 10px;
  }  
  &__btn {
    margin-bottom: 3px;
    margin-top: 22px;
    text-decoration: none;
  }  
}   

.contacts  {
  position: relative;
  display: block;
  max-width: 543px;
  background: #E1F0F7; 
  &__content  {  
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }  
  &__title {
    margin-top: -26px;
    margin-left: -3px;
    margin-bottom: 22px;
  }  
  &__item {
    margin-bottom: 24px;    
  }  
  &__map {
    position: absolute;
    display: block;
    background-position: center bottom;
    border: none; 
  }   
} 