
@keyframes cars {
    0%{
        opacity: 0;
        left: 0;
    }
    2%{
        opacity: 1;
        left: 2%;
    }
    50%{
        opacity: 1;
        left: 50%;
    }
    100%{
        opacity: 1;
        left: 98%;
    }
 }

 @keyframes handWoman {
    40% {
        transform: rotate(315deg);
    }
    60% {
        transform: rotate(315deg);
    }
}

@keyframes womanMsg {
    50% {
        opacity: 1;        
    }
}

@keyframes taxi {
    40% {
        left: 50%;
    }
    70% {
        left: 50%;
    }
    100% {
        left: -58%;
    }
} 

@keyframes handMan {
    40% {
        top: 20%;
        left: 27%;
        transform: rotate(30deg);        
    }
    60% {
        top: 20%;
        left: 27%;
        transform: rotate(30deg);        
    }
    100% {
        top: 20%;
        left: 27%;
        transform: rotate(180deg);
    }
}

@keyframes manMsg {
    50% {
        opacity: 1;        
    }
}

@keyframes taxiMsg {
    50% {
        opacity: 1;        
    }
}


.animation {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    &__sky {
        width: 100%;
    }
    &__scene {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &__city {
        width: 100%;
	    height: 100%;
    }
    &__car {
        position: absolute;        
        height: auto;        
        &_one {
            top: 47%;
            left: 0%;
            width: 17%;
            opacity: 0;            
            animation: cars 10s linear 0s infinite;
        }
        &_two {
            top: 44%;
            left: 0;
            width: 17%;
            opacity: 0;            
            animation: cars 10s linear 2.5s infinite;
        }
        &_three {
            top: 48%;
            left: 0;
            width: 20%;
            opacity: 0;            
            animation: cars 10s linear 5s infinite;
        }
        &_four {
            top: 40%;
            left: 0;
            width: 20%;
            opacity: 0;            
            animation: cars 10s linear 7.5s infinite;
        }
    }
    &__lantern-off {
        position: absolute;
        top: 5%;
        left: 35%;
        width: 10%;
        &_two {
            left: 92%;
        }
    }
    &__taxi {
        position: absolute;
        top: 40%;
        left: 100%;
        width: 55%;	
        animation: taxi 10s 5s linear forwards;
    }
    &__taxi-msg {
        position: absolute;
        width: 12%;
        top: 29%;
        left: 68%;
        opacity: 0;	
        animation: taxiMsg 3s ease-in 10s forwards;
    }
    &__lantern-on {
        position: absolute;
        top: -3%;
        left: 74%;
        width: 15%;
    }
    &__woman {
        position: absolute;
        top: 49%;
        left: 17%;
        width: 6%;
    }
    &__woman-hand {
        position: absolute;
        top: 65%;
        left: 19%;
        width: 4%;
        transform: rotate(352deg);
        transform-origin: left top;
        animation: handWoman 4s linear;	
    }
    &__woman-msg {
        position: absolute;
        top: 30%;
        left: 10%;
        width: 12%;
        opacity: 0;
        animation: womanMsg 4s linear forwards;	
    }    
    &__suitcases {
        position: absolute;
        top: 75%;
        left: 15%;
        width: 15%;
        max-width: 190px;
        z-index: 1;
    }
    &__man-hand {
        position: absolute;
        top: 20%;
        left: 27%;
        width: 6%;
        transform: rotate(155deg);
        transform-origin: left bottom;
        animation: handMan 4s linear 7s;
    }
    &__man {
        position: absolute;
        top: 32%;
        left: 26%;
        width: 14%;        
    }
    &__man-msg {
        position: absolute;
        top: 16%;
        left: 26%;
        width: 12%;
        opacity: 0;
        animation: manMsg 4s linear 7s forwards;
    }          
}