$transition-duration: .4s;

.brands {
    margin-bottom: 108px;   
    &__list {    
      display: flex;    
      justify-content: space-between;    
      margin-bottom: 90px;
    }  
    &__item {
      transition: $transition-duration;
      &:hover {
        opacity: .5;
        cursor: pointer;            
      }     
    } 
  }