.brands {
    margin-bottom: 108px;   
    &__list {    
      display: flex;    
      justify-content: space-between;    
      margin-bottom: 90px;
    }  
    &__item:hover {
      opacity: .5;
      cursor: pointer;
      transition: .4s;    
    } 
  }