$transition-duration: .4s;

.brands {
    margin-bottom: 108px;  
    @media screen and (max-width: 1024px) {
      margin-bottom: 86px;  
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 80px;  
    }      
    &__list {    
      display: flex;      
      align-items: center;       
      margin-bottom: 90px; 
      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }     
    }  
    &__item { 
      margin-right: 127px; 
      width: 193px;    
      transition: $transition-duration;
      @media screen and (max-width: 1024px) {        
        width: 106px;
        height: 33px;   
        margin-right: 70px;          
        margin-bottom: 31px;       
      }
      @media screen and (max-width: 767px) {        
        width: 149px;
        height: 32px;   
        margin-right: 0;           
        margin-bottom: 31px;       
      }
      &:hover {        
        opacity: .5;
        cursor: pointer;            
      }  
      & img {
        width: 100%;
      }   
    } 
  }