.container-box {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto; 
}

.catalog-title {
    margin-bottom: -2px;
}

/* Products */

.products {
    margin-bottom: 43px;
    margin-top: -11px;  
  }

  .products-item {
    width: 25%;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 23px;
    overflow: hidden;
}

.products-item:nth-child(4) {
    margin-left: 200px;
}

/* description */

.description {
    max-width: 680px;
    width: 100%;
    margin-left: 187px; 
    margin-bottom: 55px;
		&__title {      
			margin-left: 10px;    
			margin-bottom: 27px;    
	}	
		&__item {
			bottom: 15px;
			margin-left: 13px;
	}
}