.container-box {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto; 
}

.catalog-title {
    margin-bottom: -2px;
}

/* Products */

.products {
    margin-bottom: 43px;
    margin-top: -11px;  
}

.products-list {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex; 
    -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
            flex-wrap: wrap;    
    margin: 0 -10px -20px;
}

.products-item {
    width: 25%;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 23px;
    overflow: hidden;
}

.products-item:nth-child(4) {
    margin-left: 200px;
}

.first-product {
    background: #DBE4DB;
    background-image: url("../../static/images/product1.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat; 
    background-position: center;
}

.first-product .container-link {
    width: 280px;
    height: 270px;
    padding: 46px 18px;
    position: relative;
    text-align: center;    
}

.second-product {
    background: #EADDD3;
    background-image: url("../../static/images/product2.png"); 
    background-repeat: no-repeat; 
    background-position: center;
}

.second-product .container-link {
    width: 280px;
    height: 270px;
    padding: 13px 36px;
    position: relative;
    text-align: center;    
}

.third-product {
    background: #F8F2DA;
    background-image: url("../../static/images/product3.png");
    background-blend-mode: multiply; 
    background-repeat: no-repeat; 
    background-position: center;
}

.third-product .container-link {
    width: 280px;
    height: 270px;
    padding: 0;
    position: relative;
    text-align: center;    
}

.fourth-product {
    background: #D5D4E1;
    background-image: url("../../static/images/product4.png"); 
    background-blend-mode: multiply; 
    background-repeat: no-repeat; 
    background-position: center;
}

.fourth-product .container-link {
    width: 280px;
    height: 270px;
    padding: 10px 20px;
    position: relative;
    text-align: center;    
}

.fifth-product {
    background: #F3D0DB;
    background-image: url("../../static/images/product5.png"); 
    background-blend-mode: multiply; 
    background-repeat: no-repeat; 
    background-position: center;
}

.fifth-product .container-link {
    width: 280px;
    height: 270px;
    padding: 11px 16px;
    position: relative;
    text-align: center;    
}

.sixth-product {
    background: #E5EAF8;
    background-image: url("../../static/images/product6.png"); 
    background-blend-mode: multiply; 
    background-repeat: no-repeat; 
    background-position: center;
}

.sixth-product .container-link {
    width: 280px;
    height: 270px;
    padding: 33px 4px;
    position: relative;
    text-align: center;    
}

.title-link {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}

.title-link:hover {
    text-decoration: underline;
}

/* description */

.description {
    max-width: 680px;
    width: 100%;
    margin-left: 187px; 
    margin-bottom: 55px;
}

.description-title {      
    margin-left: 10px;    
    margin-bottom: 27px;    
}

.description-item {
    bottom: 15px;
    margin-left: 13px;
}