.contacts-box {    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
} 

.contact-title {
    margin-bottom: -3px;
}

.form__btn {
    max-width: 107px;
    width: 100%;
    margin-top: -3px;
}

// Сократить
.support {
    padding-top: 0;
    padding-left: 120px;
    @media screen and (max-width: 1024px) {
        order: 1; 
        padding-left: 0;    
    }
    @media screen and (max-width: 767px) {
        order: 1; 
        padding-left: 0;    
    }
    &__item {
        margin-top: 0;
        margin-bottom: 20px;
        @media screen and (max-width: 1024px) {
            text-align: center;  
        }
        @media screen and (max-width: 767px) {
            text-align: center;  
        }
    }    
    &__item_active {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: #C29974;
        @media screen and (max-width: 1024px) {
            font-size: 26px;  
        }
        @media screen and (max-width: 767px) {
            font-size: 24px;  
        }
    }
}