.contacts-box {
    
    display: flex;
    margin-bottom: 3px;
} 

.contact-title {
    margin-bottom: -3px;
}

.form__btn {
    max-width: 107px;
    width: 100%;
    margin-top: -3px;
}

.support {
    padding-top: 0;
    padding-left: 120px;
    &__item {
        margin-top: 0;
        margin-bottom: 20px;
    }    
    &__item_active {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: #C29974;
    }
}