
.products {
  &__title {
    margin-bottom: 20px;
  }  
  &__list {    
    display: flex;    
    justify-content: space-between;   
    margin: 0 -10px -20px;
  } 
  &__item {
    width: 25%;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    overflow: hidden;
  }  
  &__container-link {
    position: relative;
    text-align: center;    
  }  
  &__img-one {
    background: #DBE4DB;
  }  
  &__img-two {
    background: #EADDD3;
  }  
  &__img-three {
    background: #F8F2DA;
  }  
  &__img-four {
    background: #D5D4E1;
  }  
  &__title-link {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;    
  }  
  &__title-link:hover {
    text-decoration: underline;
    transition: .4s;           
  }
}