$transition-duration: .4s;

.toys {
    margin-bottom: 53px;
    &__list {    
        display: flex;    
        justify-content: space-between;    
        flex-wrap: wrap;
        margin: 0 -10px -4px;                    
    }    
    &__item {
        width: 380px;
        margin-right: 20px;
        margin-bottom: 22px;
        overflow: hidden;                                   
    }    
    &__container-link {
        position: relative;        
        &:before,
        &:after {
        content: " ";
        position: absolute;
        display: block;   
        }    
        &:before {
        content: " ";  
        background-image: url(../../static/images/Rectangle.jpg);     
        background-size: 207px 207px;
        background-repeat: no-repeat;        
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 207px;
        height: 207px;
        opacity: 0;     
        }    
        &:after {
        content: "LEARN MORE";
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        width: 184px;
        height: 29px;
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: #1E0606;
        text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);      
        }    
        &:hover:before,
        &:hover:after {
        opacity: 0.9;
        cursor: pointer;
        transition: $transition-duration;                     
        }    
        &:active:before,
        &:active:after {
        opacity: .7;
        cursor: pointer;         
        }  
    }    
    &__title-link {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #1E0606;  
        margin-top: 30px;  
    }    
    &__price-link {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;   
        color: #1E0606;    
    }
}