$transition-duration: .4s;

.header {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 50px;
  margin-bottom: 60px;  
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  transition: color $transition-duration;
  &__logo:hover {
    opacity: .5;
    transition: .4s;     
  }
  &__logo:active {
    opacity: .2;
    transition: .4s;
  }    
  &__nav {
    margin: 0 auto 0 60px;
  }
  &__list {    
  display: flex;    
  align-items: center;   
  }
  &__item {
    margin-right: 20px; 
  }
  &__item:hover {
    opacity: .5;
    background: none;
    transition: .4s;
  }
  &__item:active {
    opacity: .2;
    transition: .4s;
  }
  &__search {
    margin-right: 20px; 
  }
  &__search:hover {
    opacity: .5;
    background: none;
    transition: .4s;
  }
  &__search:active {
    opacity: .2;
    background: none;
    transition: .4s;
  }
  &__contacts {
    font-weight: bold;    
    display: flex;    
    align-items: center;
    text-transform: uppercase;    
    color: #1E0606;
  }
  &__contacts:hover {
    opacity: .5;  
    transition: .4s;  
  }
  &__contacts:active {
    opacity: .2; 
    transition: .4s;   
  }
}  