*  {
  box-sizing: border-box;    
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #1E0606;
}

a {
  text-decoration: none;
  color: #000;
}

footer a {
  color: #FFFFFF;
}

.outline {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  height: 0;
  font-size: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.page-title {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 110%;          
}

.page-title-two {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 38px;
  line-height: 46px;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto; 
}

.wrapper {
  background: #434343;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./link/link";
@import "./popup/popup";
@import "./contact_form/contact_form";
@import "./breadcrumbs/breadcrumbs";
@import "./pagination/pagination";

