@import "./vars";

*  {
  box-sizing: border-box;    
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #1E0606;  
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;    
  } 
}

a {
  text-decoration: none;
  color: #000;
  transition: $transition-duration;
}

footer a {
  color: #FFFFFF;
}

.outline {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  height: 0;
  font-size: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.page-title {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 110%;
  @media screen and (max-width: 1024px)  {
    font-size: 36px;
    line-height: 44px;
  } 
  @media screen and (max-width: 767px)  {
    font-size: 24px;
    line-height: 29px;
  }          
}

.page-title-two {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 38px;
  line-height: 46px;
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 29px;
  }  
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto; 
  @media screen and (max-width: 1024px) {
    padding: 0 60px;
  }
  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }  
}

.wrapper {
  background:$black;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./link/link";
@import "./form/form";
@import "./popup/popup";
@import "./breadcrumbs/breadcrumbs";
@import "./pagination/pagination";
@import "./catalog-card/catalog-card";
@import "./toys-card/toys-card";
@import "./brands/brands";
@import "./post/post";