.footer-content  {
  padding-top: 87px;    
  padding-bottom: 130px; 
}

.footer-first-block {
  display: flex;  
  align-items: flex-start;        
}

.footer-column {
  margin: 0 auto;
  max-width: 380px;
  &__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    border-bottom: 1px solid #A2A2A2;
    width: 375px;
    padding-bottom: 23px;
    margin-left: -7px;
  }
  &__nav {
    margin-left: -11px;
  }
  &__list {
    color:#FFFFFF;
    margin-bottom: 28px;    
  }
  &__item {
    margin-bottom: 15px;
  }
  &__link:hover {
    color: #A1A1A1;
    background: none;
    opacity: .5;
  }
  &__link:active {
    color: #696969;
  }
}

.footer-row {
  margin-top: 0;
  &__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    border-bottom: 1px solid #A2A2A2;
    width: 375px;
    padding-bottom: 23px;
    margin-left: -7px;
  }
}

.form-container {
  display: flex;
  &__input {
    background: #666666;
    border: 1px solid transparent;
    max-width: 300px;
    width: 100%;
    outline: none;
    &:hover {
      background: #666666;
      list-style-type: none;
      border-top: 1px solid #FFFDFD;
      border-bottom: 1px solid #FFFDFD;
      border-left: 1px solid #FFFDFD;    
    }
  }  
  &__btn {
    background: #000;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 80px;
    padding: 9px 22px;
    cursor: pointer;  
    outline:none;
    &:focus {
      background: #C29974;
    }  
  }
}

.social {
  display: flex;
  margin-top: 25px;
  &__item {
    margin-left: 0px;
    margin-right: 10px;
  }
  &__link:hover {
    opacity: .5;
    background: none;
  }
  &__link:active {
    opacity: .2;
  }
}

.footer-second-block {
  margin-top: 12px;
}

.footer-copyright {
  display: flex;
  border-top: 1px solid #A2A2A2;    
}

.rating {
  margin-left: 8px;
  margin-right: 25px;
  outline: none;
  &:hover {
    color: #836E5B;
    cursor: pointer;
  }  
  &:active {
    color: #C29974;
  }
}

.rating-wrapper    {
  position: relative;
  font-size: 23px;
  display: inline-block;  
  margin-top: 15px; 
  &:before {
    content: '★★★★★';
    display: block;   
  }
  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  
    display: flex;  
    flex-direction: row-reverse;
    overflow: hidden;    
  } 
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;    
  }
  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    &:before {
      content: '★';
      display: block;          
    }
  }
}   

.rating-wrapper__label:hover,
.rating-wrapper__label:hover ~ .rating-wrapper__label:not(:first-child) {
  color: #836E5B;
}

.rating-wrapper__label:active,
.rating-wrapper__label:active ~ .rating-wrapper__label:not(:first-child) {
  color: #C29974;
}

.copyright {
  margin-left: 155px;    
}

.copyright-link {
  padding-top: 17px;
  margin-left: 109px; 
  &__item {
    color: #A2A2A2;
    text-decoration: none;
    &:hover {
      color:#FFFFFF;
      text-decoration: underline;
      background: none;
    }
  }
} 