  /* filter-form */

  .filter-box {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; 
    background: rgba(125, 151, 218, 0.2);
    margin-bottom: 54px;
}

.filter-form {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
            justify-content: space-between;    
    max-width: 1095px;
    width: 100%;
    padding-top: 42px;
    padding-left: 73px;
    padding-bottom: 20px;    
}

.filter-form fieldset {
    border: none;
    margin-left: -34px;    
}

.filter-form legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;    
    color: #1E0606;
}

.box-range {
    display: flex;   
}

.number-box {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.filter-form legend {
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 14px;
}

.checkbox,
.radiobox {
    margin-bottom: 15px;       
}

.checkbox label,
.radiobox label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;    
}

.input,
.radio {
    display: none;
}

.checkbox label:before,
.checkbox label:after,
.radiobox label:before,
.radiobox label:after {
    content: " ";
    position: absolute;
    display: block;    
}

.checkbox label:before {
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;    
    border: 2px solid #C29974;
    border-radius: 20%;
}

.checkbox label:after {
    content: " ";
    background-image: url(../images/Vector\ 1\ \(Stroke\).png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 13px;
    top: 5px;
    left: 5px;
    opacity: 0;
}

.input:checked + label:after {
    opacity: 1;
}

.input:checked:hover + label:hover {
    opacity: 1;
    text-decoration: underline;
}

.input:disabled + label {
    opacity: .7;
}

.radiobox label:before {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid #C29974;
    border-radius: 50%;
}

.radiobox label:after {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
    background: #C29974;
    opacity: 0;
    border-radius: 50%;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:checked:hover + label:hover {
    opacity: 1;
    text-decoration: underline;
}

.radio:disabled + label {
    opacity: .7;
}

.form-radio-btn {
	display: inline-block;
	margin: 0 -5px;
    padding: 0;      
}

.form-radio-btn input {
	display: none;
}

.amount {
    max-width: 80px;
}

.form-radio-btn label {
	display: inline-block;
	cursor: pointer;
	padding: 7px 19px;
	font-size: 16px;
    line-height: 22px;
	user-select: none;
    background:#fff;       
}

.form-radio-btn input:hover + label {
	background: #EDDEEB;
    color: #877379;      
}

.form-radio-btn input:checked + label {
	background: #F3D0DB;
    color: #1E0606;     
}

.filter-item button {
    margin-top: 37px;
    width: 95px;
} 
 
/* Products */

.products {
    margin-bottom: 53px;
}

.products-list {
    -webkit-display: flex;
        -moz-display: flex;
            display: flex;
    -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
            justify-content: space-between;    
    -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -10px -4px;    
}

.products-item {
    width: 380px;
    margin-right: 20px;
    margin-bottom: 22px;
    overflow: hidden;    
}

.title-link {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;  
    margin-top: 30px;  
}

.price-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;   
    color: #1E0606;    
}

.container-link {
    position: relative;        
}

.container-link:before,
.container-link:after {
    content: " ";
    position: absolute;
    display: block;   
}

.container-link:before {
    content: " ";
    background-image: url(../images/Rectangle\ 63.png);
    background-size: 207px 207px;
    background-repeat: no-repeat;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 207px;
    height: 207px;
    opacity: 0;     
}

.container-link:after {
    content: "LEARN MORE";
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    width: 184px;
    height: 29px;
    font-family: "Montserrat", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);      
}

.container-link:hover:before,
.container-link:hover:after {
    opacity: 1;
    cursor: pointer;    
}

.container-link:active:before,
.container-link:active:after {
    opacity: .7;
    cursor: pointer;   
}