$transition-duration: .4s;

  /* filter-form */

  .filter-box {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; 
    background: rgba(125, 151, 218, 0.2);
    margin-bottom: 54px;
}

.filter-form {    
    display: flex;    
    justify-content: space-between;    
    max-width: 1095px;
    width: 100%;
    padding-top: 42px;
    padding-left: 73px;
    padding-bottom: 20px; 
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }     
}

.filter-form fieldset {
    border: none;
    margin-left: -34px;    
}

.filter-form legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;    
    color: #1E0606;
    @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 19px;
    }
}

.box-range {
    display: flex;   
}

.number-box {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.filter-form legend {
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 14px;
}

.checkbox,
.radiobox {
    margin-bottom: 15px;       
}

.checkbox label,
.radiobox label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    transition: $transition-duration;    
}

.input,
.radio {
    display: none;
}

.checkbox label:before,
.checkbox label:after,
.radiobox label:before,
.radiobox label:after {
    content: " ";
    position: absolute;
    display: block;    
}

.checkbox label:before {
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;    
    border: 2px solid #C29974;
    border-radius: 20%;
}

.checkbox label:after {
    content: " ";
    background-image: url(../../static/images/Vector1.png);          
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 13px;
    top: 5px;
    left: 5px;
    opacity: 0;
}

.input:checked + label:after {
    opacity: 1;
}

.input:checked:hover + label:hover {
    opacity: 1;
    text-decoration: underline;    
}

.input:disabled + label {
    opacity: .7;
}

.radiobox label:before {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid #C29974;
    border-radius: 50%;
}

.radiobox label:after {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
    background: #C29974;
    opacity: 0;
    border-radius: 50%;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:checked:hover + label:hover {
    opacity: 1;
    text-decoration: underline;    
}

.radio:disabled + label {
    opacity: .7;
}

.form-radio-btn {
	display: inline-block;
	margin: 0 -5px;
    padding: 0;      
}

.form-radio-btn input {
	display: none;
}

.amount {
    max-width: 80px;    
}

.form-radio-btn label {
	display: inline-block;
	cursor: pointer;    
	padding: 7px 19px;
	font-size: 16px;
    line-height: 22px;
	user-select: none;
    background:#fff; 
    transition: $transition-duration;      
}

.form-radio-btn input:hover + label {
	background: #EDDEEB;
    color: #877379;         
}

.form-radio-btn input:checked + label {
	background: #F3D0DB;
    color: #1E0606;     
}

.filter-item button {
    margin-top: 37px;
    width: 95px;
    @media screen and (max-width: 768px) {
        margin-right: 20px;
    }
} 