$transition-duration: .4s;

.posts {
    &__list {    
        display: flex;    
        justify-content: space-between;    
        flex-wrap: wrap;        
        margin: 0 -10px -20px;
    }    
    &__item {
        max-width: 380px;
        margin-bottom: 15px;
        margin-left: 8px;
        overflow: hidden;    
    }    
    &__date {
        color: #818181;
        margin-bottom: -13px;
    }    
    &__subtitle {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;    
        color: #1E0606;
        cursor: pointer; 
        transition: $transition-duration;        
        &:hover,
        &:active {
            text-decoration: underline;                                  
        }            
    }       
    &__info {
        font-size: 18px;
        line-height: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .posts {       
        &__item {
            max-width: 314px;
            margin-bottom: 10px;                
        }    
        &__date {            
            margin-bottom: 5px;
        }    
        &__subtitle {            
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 10px;               
        }       
        &__info {
            font-size: 18px;
            line-height: 25px;
        }
    }
}

@media screen and (max-width: 767px) {
    .posts {       
        &__item {
            max-width: 335px;
            margin-bottom: 10px;                
        }    
        &__date {            
            margin-bottom: 4px;
        }    
        &__subtitle {            
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 7px;               
        }       
        &__info {
            font-size: 16px;
            line-height: 22px;
        }
    }
}