.breadcrumbs {
    margin-left: 0 auto;
    margin-bottom: 50px;  
    list-style-type: none;
    font-family:"Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606; 
    &__list {
        padding-left: 0;
    }    
    &__item {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        &:not(:last-child):after {
            content: ">";
            margin-left: 5px;
        }
    }      
    &__link {
        color: #1E0606;  
        text-decoration: none;
    }      
    &_current {
        color: #1E0606;
        opacity: 0.5;
    }   
}