$transition-duration: .4s;

.button {
    background: black;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 123px;
    width: 100%;
    text-align: center;
    padding: 9px;
    border: none;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    $transition-duration: .4s;
    &:hover {
        background: #C29974;
        outline:none;        
    }
    &:focus {
        background: #C29974;
        outline:none;        
    } 
    &:active {
        background: #CFAF91;
        outline:none;        
    }
    &:disabled {
        background: #C1C1C1;
        outline:none;        
    }       
}